docker {
    enabled = true
    runOptions= "--entrypoint=''"
}

params {
    threads = 4 
    test = false
    sra_run = null
    sra_project = null
    ref_genome = null
    geo_id = null

    scripts = "${projectDir}/scripts"
}

executor { 
    cache = true
}

report {
    enabled = true
    file = 'reports/report.html'
    overwrite = true
}
trace {
    enabled = true
    file = 'reports/trace.txt'
    overwrite = true
}
timeline {
    enabled = true
    file = 'reports/timeline.html'
    overwrite = true
}
dag {
    enabled = true
    file = 'reports/dag.dot'
    overwrite = true
}

process {
    executor = 'local' 
    cpus = params.threads ?: 1   // if params.threads is not defined, uses 1 CPU
    //memory = '1 GB'
    maxRetries = 0
    errorStrategy = 'retry'

    //Definition of containers for processes
    withName: GET_SRR {
        container="mariemeier/reprohackathon:entrez-direct"
    }
    withName: DOWNLOAD_FASTQ {
        container="mariemeier/reprohackathon:sra_toolkit"
    }
    withName: QUALITY_FASTQ {
        container="mariemeier/reprohackathon:sra_toolkit"
    }
    withName: TRIM_SEQUENCE {
        container ="mariemeier/reprohackathon:trim_galore"
    }
    withName: GET_DATA_GENOME {
        container="mariemeier/reprohackathon:entrez-direct"
    }
    withName: INDEX_REF_GENOME {
        container="mariemeier/reprohackathon:bowtie"
    }
    withName: MAPPING_BOWTIE {
        container="mariemeier/reprohackathon:bowtie"
    }
    withName: FEATURECOUNTS {
        container="mariemeier/reprohackathon:subread"
    }
    withName: GET_GEO_TABLE {
        container="mariemeier/reprohackathon:entrez-direct"
    }
    withName: GET_SRA_DATA {
        container="mariemeier/reprohackathon:entrez-direct"
    }
    withName: CREATE_COLDATA {
        container="mariemeier/reprohackathon:deseq2"
    }
    withName: STAT_ANALYSIS {
        container="mariemeier/reprohackathon:deseq2"
    }

    containerOptions = '--platform linux/amd64'
}





